PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/resto-universitaire
JWT_SECRET=change-me

STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx
STRIPE_CURRENCY=eur
STRIPE_MERCHANT_DISPLAY_NAME=Resto Universitaire
